/* Desktop Style */
@media (min-width: 769px) {
    #header h2 {
        font-weight: 100;
    }

    #logout {
        top: 25px;
    }

    #content {
        width: 80%;
        margin: 100px auto 30px auto;
    }

    /* *************************************** */
    /*                  LOGIN                  */
    /* *************************************** */
    .login-button {
        width: 30%;
    }

    /* *************************************** */
    /*               LISTS PANEL               */
    /* *************************************** */
    #mobile-list-name {
        display: none;
    }

    #lists {
        display: inline-block;
        vertical-align: top;
        margin-right: -5px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 14px;
        width: 200px;
        text-align: center;
    }

    #list-names {
        margin-bottom: 0;
        padding: 0;
        text-align: left;
    }

    .list-name {
        display: block;
        margin: 0;
        padding: 5px;
        width: auto;
        font-size: inherit;
        border-right: 2px solid lightsteelblue;
    }

    #btngrp-new-list {
        margin-bottom: 25px;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: none;
        border-right: 2px solid lightsteelblue;
        border-bottom: 2px solid lightsteelblue;
    }

    #btn-rename-list {
        display: block;
        margin-bottom: 10px;
    }

    #btn-delete-list {
        margin-bottom: 0;
    }

    /* *************************************** */
    /*               ITEMS PANEL               */
    /* *************************************** */
    #details {
        display: inline-block;
        vertical-align: top;
        width: 66%;
    }

    .lonely {
        margin-top: 20px;
    }

    /* *************************************** */
    /*                 DIALOGS                 */
    /* *************************************** */
    #list-dialog-title {
        font-size: inherit;
    }
}
