html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#header {
    background-color: rgb(138, 153, 197);
    color: whitesmoke;
    text-align: center;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    /* padding: 0; */
    padding-left: 5px;
    padding-right: 5px;
}

li {
    list-style: none;
    padding: 5px;
}

/* #main {
    margin: 70px auto 30px auto;
} */

#content {
    margin: 70px auto 30px auto;
}

#lists {
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#details {
    border-top: 3px solid rgb(138, 153, 197);
}

.list-names {
    margin-bottom: 5px;
    text-align: center;
}

.list-name {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%;
    font-size: 1.5em;
}

.item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    margin-bottom: 5px;
}

.item-input {
    width: 80%;
    margin-left: 15px;
}

.delete {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#add-item {
    text-align: center;
}

.selected-list {
    background-color: lightblue;
}

.lonely {
    margin-top: 14px;
}

/* Desktop Style */
@media (min-width: 769px) {
    /* #main {
        width: 80%;
        margin: 100px auto 30px auto;
    } */

    #content {
        width: 80%;
        margin: 100px auto 30px auto;
    }

    #lists {
        display: inline-block;
        vertical-align: top;
        margin-right: -5px;
        padding-left: 0;
        padding-right: 0;
        width: 200px;
    }

    #details {
        display: inline-block;
        vertical-align: top;
        width: 66%;
        border-top: none;
        /* border-left: 2px solid rgb(138, 153, 197); */
    }

    .list-names {
        margin-bottom: 16px;
        text-align: left;
    }

    .list-name {
        display: block;
        margin: 0;
        width: auto;
        font-size: inherit;
        border-right: 2px solid rgb(138, 153, 197);
    }

    .lonely {
        margin-top: 20px;
    }
}
