@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#header {
    /* background-color: rgb(138, 153, 197); */
    background-color: lightsteelblue;
    /* color: whitesmoke; */
    color: #00699b;
    font-family: "Dancing Script", cursive;
    text-align: center;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

#header h2 {
    font-size: 2.2em;
    /* font-weight: 100; */
    margin-top: 14px;
}

#logout {
    z-index: 2;
    position: fixed;
    top: 20px;
    right: 10px;
}

#content {
    margin: 70px auto 30px auto;
    text-align: center;
}

/* *************************************** */
/*            MOBILE LISTS PANEL           */
/* *************************************** */
/* Some of this should be moved to desktop.css */
#lists {
    display: none;
}

#mobile-list-name {
    color: white;
    background-color: #00699b;
    display: inline-block;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #00699b;
    border-radius: 5px;
    text-align: center;
}

#mobile-list-name p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

#mobile-lists {
    position: fixed;
    width: 280px;
    left: 50%;
    top: 100px;
    margin-left: -140px;
    border: 5px solid rgb(138, 153, 197);
    text-align: center;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    background-color: white;
    filter: drop-shadow(10px 8px 4px rgba(92, 101, 131, 0.7));
}

/* #mlists {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 14px;
    text-align: center;
} */

#list-names {
    /* margin-bottom: 5px; */
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.list-name {
    cursor: pointer;
    display: block;
    list-style: none;
    margin: 0;
    width: auto;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    padding: 12px;
    font-size: 1.5em;
}

#btngrp-new-list {
    margin-bottom: 20px;
    /* margin-right: 5px; */
    /* padding-top: 10px; */
    padding-bottom: 20px;
    /* border-top: 2px solid lightsteelblue; */
    border-bottom: 2px solid lightsteelblue;
}

#btn-rename-list {
    display: block;
    margin-bottom: 10px;
}

.selected-list {
    /* background-color: lightblue; */
    background-color: #00699b;
    color: white;
}

/* *************************************** */
/*               ITEMS PANEL               */
/* *************************************** */
#details {
    /* border-top: 3px solid rgb(138, 153, 197); */
    /* border-top: 3px solid lightsteelblue; */
}

#list-items {
    padding-left: 5px;
    padding-right: 5px;
}

.item {
    list-style: none;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.item-input {
    width: 78%;
    margin-left: 17px;
    margin-right: 2px;
}

.delete {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#add-item {
    text-align: center;
}

.lonely {
    margin-top: 14px;
}

/* *************************************** */
/*                 DIALOGS                 */
/* *************************************** */
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

#list-dialog {
    position: fixed;
    width: 280px;
    left: 50%;
    top: 150px;
    margin-left: -140px;
    border: 5px solid rgb(138, 153, 197);
    text-align: center;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    background-color: white;
    filter: drop-shadow(10px 8px 4px rgba(92, 101, 131, 0.7));
}

.cancel {
    position: absolute;
    top: -8px;
    left: 90%;
    width: 25px;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#list-dialog-title {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

#list-dialog input {
    width: 85%;
    margin-bottom: 20px;
}

#delete-no,
#delete-yes {
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
